node_modules/
dist/
build/
.expo/
.turbo/
*.log
.env
.env.local
.env.*.local
coverage/
.DS_Store
*.tsbuildinfo
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/mobile/android/
apps/mobile/ios/
.idea/
.vscode/
*.jks
google-services.json
GoogleService-Info.plist
firebase-adminsdk*.json
